Function:_merge_topk_attn_out_kernel
--:-:-:-:8	LDC R1, c[0x0][0x37c]                                                                     ?trans8;
--:-:-:-:1	S2UR UR5, SR_CTAID.X                                                                      ?trans1;
--:-:-:Y:7	ACQBULK                                                                                   ?WAIT7_END_GROUP;
--:-:0:-:1	S2UR UR6, SR_CTAID.Y                                             &wr=0x0                  ?trans1;
--:-:-:-:1	NOP                                                                                       ?trans1;
--:-:1:-:6	S2R R0, SR_TID.X                                                 &wr=0x1                  ?trans6;
--:-:2:-:1	LDC.64 R10, c[0x0][0x3a8]                                        &wr=0x2                  ?trans1;
--:-:3:-:1	LDCU.128 UR16, c[0x0][0x380]                                     &wr=0x3                  ?trans1;
01:-:-:-:1	UIMAD.WIDE.U32 UR10, UR6, 0x4, URZ                               &req={0}                 ?trans1;
--:-:0:-:5	LDCU.64 UR14, c[0x0][0x358]                                      &wr=0x0                  ?trans5;
--:-:-:-:1	PREEXIT                                                                                   ?trans1;
--:-:-:-:1	USHF.L.U32 UR8, UR6, 0x2, URZ                                                             ?trans1;
--:-:4:-:1	LDCU.64 UR12, c[0x0][0x3b0]                                      &wr=0x4                  ?trans1;
--:-:-:Y:5	UMOV UR9, UR11                                                                            ?WAIT5_END_GROUP;
--:-:5:-:1	LDC.64 R16, c[0x0][0x3a0]                                        &wr=0x5                  ?trans1;
04:-:-:Y:4	IMAD R2, R11, UR5, RZ                                            &req={2}                 ?WAIT4_END_GROUP;
--:-:-:-:1	IMAD.HI R5, R2.reuse, 0x4, RZ                                                             ?trans1;
--:-:-:-:2	SHF.L.U32 R4, R2, 0x2, RZ                                                                 ?trans2;
02:-:-:Y:3	LOP3.LUT R3, R0, 0xf, RZ, 0xc0, !PT                              &req={1}                 ?WAIT3_END_GROUP;
08:-:-:-:2	IADD.64 R4, R4, UR18                                             &req={3}                 ?trans2;
--:-:-:-:1	IMAD R2, R3, R10, RZ                                                                      ?trans1;
--:-:-:-:1	SHF.R.U32.HI R15, RZ, 0x4, R0                                                             ?trans1;
--:-:-:-:2	IADD.64 R4, R4, UR8                                                                       ?trans2;
--:-:-:-:1	IMAD.SHL.U32 R6, R2.reuse, 0x4, RZ                                                        ?trans1;
--:-:1:-:1	LDCU.64 UR18, c[0x0][0x398]                                      &wr=0x1                  ?trans1;
--:-:-:-:1	IMAD.HI R7, R2, 0x4, RZ                                                                   ?trans1;
--:-:-:-:1	SGXT.U32 R15, R15, 0x3                                                                    ?trans1;
--:-:2:-:1	S2UR UR10, SR_CgaCtaId                                           &wr=0x2                  ?trans1;
--:-:3:-:2	LDCU.64 UR8, c[0x0][0x390]                                       &wr=0x3                  ?trans2;
--:-:-:Y:6	IADD.64 R8, R4, R6                                                                        ?WAIT6_END_GROUP;
01:0:4:-:1	LDG.E R2, desc[UR14][R8.64]                                      &req={0} &rd=0x0 &wr=0x4 ?trans1;
--:-:-:Y:4	IMAD R11, R15, R10, RZ                                                                    ?WAIT4_END_GROUP;
--:-:-:-:1	IMAD.HI R7, R11.reuse, 0x4, RZ                                                            ?trans1;
--:-:-:Y:3	SHF.L.U32 R6, R11, 0x2, RZ                                                                ?WAIT3_END_GROUP;
--:-:-:-:2	IMAD R11, R10, 0x8, R11                                                                   ?trans2;
01:-:-:Y:3	IADD.64 R8, R4, R6                                               &req={0}                 ?WAIT3_END_GROUP;
--:-:-:-:1	SHF.L.U32 R10, R11.reuse, 0x2, RZ                                                         ?trans1;
--:-:-:-:1	IMAD.HI R11, R11, 0x4, RZ                                                                 ?trans1;
02:-:-:-:1	USHF.R.S32.HI UR4, URZ, 0x1f, UR19                               &req={1}                 ?trans1;
--:0:3:-:3	LDG.E R12, desc[UR14][R8.64]                                     &rd=0x0 &wr=0x3          ?trans3;
--:-:-:-:2	IADD.64 R10, R4, R10                                                                      ?trans2;
32:-:-:-:2	IMAD R5, R16, UR5, RZ                                            &req={5}                 ?trans2;
--:-:-:Y:2	IMAD R7, R17, UR6, RZ                                                                     ?WAIT2_END_GROUP;
--:-:-:-:1	IMAD.SHL.U32 R4, R5.reuse, 0x2, RZ                                                        ?trans1;
--:1:5:-:1	LDG.E R13, desc[UR14][R10.64]                                    &rd=0x1 &wr=0x5          ?trans1;
--:-:-:-:1	IMAD.HI R5, R5, 0x2, RZ                                                                   ?trans1;
--:-:-:-:2	SHF.L.U32 R6, R7, 0x1, RZ                                                                 ?trans2;
--:-:-:-:1	LOP3.LUT R14, R15, 0x8, RZ, 0xfc, !PT                                                     ?trans1;
--:-:-:-:1	IMAD.HI R7, R7, 0x2, RZ                                                                   ?trans1;
--:-:-:Y:3	IADD.64 R4, R4, UR16                                                                      ?WAIT3_END_GROUP;
--:-:-:-:2	IMAD R17, R15.reuse, UR4, RZ                                                              ?trans2;
01:-:-:-:1	IMAD.WIDE.U32 R8, R15, UR19, RZ                                  &req={0}                 ?trans1;
--:-:-:Y:3	IADD.64 R4, R4, R6                                                                        ?WAIT3_END_GROUP;
--:-:-:-:2	IMAD R19, R14.reuse, UR4, RZ                                                              ?trans2;
02:-:-:-:1	IMAD.WIDE.U32 R10, R14, UR19, RZ                                 &req={1}                 ?trans1;
--:-:-:-:2	IADD3 R15, PT, PT, R9, R17, RZ                                                            ?trans2;
--:-:-:-:1	LEA R14, P1, R8, R4.reuse, 0x1                                                            ?trans1;
--:-:-:-:1	IMAD.SHL.U32 R7, R3, 0x8, RZ                                                              ?trans1;
--:-:-:-:2	IADD3 R9, PT, PT, R11, R19, RZ                                                            ?trans2;
--:-:-:-:2	LEA R16, P2, R10, R4, 0x1                                                                 ?trans2;
--:-:-:-:1	LEA.HI.X R15, R8, R5.reuse, R15, 0x1, P1                                                  ?trans1;
--:-:-:-:1	ISETP.GE.AND P0, PT, R7.reuse, UR18, PT                                                   ?trans1;
--:-:-:-:1	LEA.HI.X R17, R10, R5, R9, 0x1, P2                                                        ?trans1;
--:-:-:-:1	CS2R R4, SRZ                                                                              ?trans1;
--:-:-:Y:4	IMAD.WIDE.U32 R14, R7, 0x2, R14                                                           ?WAIT4_END_GROUP;
--:-:-:-:1	IMAD.WIDE.U32 R16, R7, 0x2, R16                                                           ?trans1;
--:-:-:-:1	CS2R R6, SRZ                                                                              ?trans1;
--:-:-:-:1	CS2R R8, SRZ                                                                              ?trans1;
--:-:-:Y:4	CS2R R10, SRZ                                                                             ?WAIT4_END_GROUP;
--:-:2:-:4	@!P0 LDG.E.128 R4, desc[UR14][R16.64]                                 &wr=0x2                  ?trans4;
--:0:2:-:4	@!P0 LDG.E.128 R8, desc[UR14][R14.64]                                 &rd=0x0 &wr=0x2          ?trans4;
16:-:1:-:2	SHFL.BFLY PT, R19, R2, 0x8, 0x1f                                 &req={4} &wr=0x1         ?trans2;
02:-:-:Y:5	FMNMX R19, R2, R19, !PT                                          &req={1}                 ?WAIT5_END_GROUP;
--:-:1:-:2	SHFL.BFLY PT, R18, R19, 0x4, 0x1f                                &wr=0x1                  ?trans2;
02:-:-:Y:5	FMNMX R18, R19, R18, !PT                                         &req={1}                 ?WAIT5_END_GROUP;
--:-:1:-:2	SHFL.BFLY PT, R21, R18, 0x2, 0x1f                                &wr=0x1                  ?trans2;
02:-:-:Y:5	FMNMX R21, R18, R21, !PT                                         &req={1}                 ?WAIT5_END_GROUP;
01:-:0:-:2	SHFL.BFLY PT, R14, R21, 0x1, 0x1f                                &req={0} &wr=0x0         ?trans2;
01:-:-:Y:5	FMNMX R15, R21, R14, !PT                                         &req={0}                 ?WAIT5_END_GROUP;
--:-:-:Y:6	FADD R14, R2, -R15                                                                        ?WAIT6_END_GROUP;
--:-:0:-:2	MUFU.EX2 R14, R14                                                &wr=0x0                  ?trans2;
01:-:0:-:2	SHFL.BFLY PT, R23, R14, 0x8, 0x1f                                &req={0} &wr=0x0         ?trans2;
01:-:-:Y:5	FADD R23, R14, R23                                               &req={0}                 ?WAIT5_END_GROUP;
--:-:0:-:2	SHFL.BFLY PT, R2, R23, 0x4, 0x1f                                 &wr=0x0                  ?trans2;
01:-:-:Y:5	FADD R16, R23, R2                                                &req={0}                 ?WAIT5_END_GROUP;
--:-:0:-:2	SHFL.BFLY PT, R17, R16, 0x2, 0x1f                                &wr=0x0                  ?trans2;
01:-:-:Y:5	FADD R17, R16, R17                                               &req={0}                 ?WAIT5_END_GROUP;
--:-:0:-:1	SHFL.BFLY PT, R2, R17, 0x1, 0x1f                                 &wr=0x0                  ?trans1;
08:-:-:-:1	FADD R12, R12, -R15.reuse                                        &req={3}                 ?trans1;
32:-:-:Y:4	FADD R13, R13, -R15                                              &req={5}                 ?WAIT4_END_GROUP;
--:-:-:-:1	MUFU.EX2 R14, R13                                                                         ?trans1;
01:-:-:Y:5	FADD R18, R17, R2                                                &req={0}                 ?WAIT5_END_GROUP;
--:-:-:-:1	FSETP.GT.AND P0, PT, |R18|.reuse, 8.50705917302346158658e+37, PT                          ?trans1;
--:-:-:-:1	FSETP.GEU.AND P1, PT, |R18|.reuse, 1.175494350822287508e-38, PT                           ?trans1;
--:-:0:-:b	MUFU.EX2 R2, R12                                                 &wr=0x0                  ?trans11;
--:-:-:Y:4	@P0 FMUL R18, R18, 0.25                                                                       ?WAIT4_END_GROUP;
--:-:-:Y:4	@!P1 FMUL R18, R18, 16777216                                                                   ?WAIT4_END_GROUP;
--:-:1:-:1	MUFU.RCP R15, R18                                                &wr=0x1                  ?trans1;
01:-:-:-:1	@P0 FMUL R2, R2, 0.25                                                &req={0}                 ?trans1;
--:-:-:-:1	@P0 FMUL R14, R14, 0.25                                                                       ?trans1;
04:-:-:-:2	PRMT R16, R6, 0x7632, R16                                        &req={2}                 ?trans2;
--:-:-:-:1	@!P1 FMUL R2, R2, 16777216                                                                     ?trans1;
--:-:-:-:1	@!P1 FMUL R14, R14, 16777216                                                                   ?trans1;
--:-:-:-:1	SHF.L.U32 R23, R6, 0x10, RZ                                                               ?trans1;
--:-:-:-:1	IMAD.U32 R21, R5.reuse, 0x10000, RZ                                                       ?trans1;
--:-:-:-:2	PRMT R6, R5, 0x7632, R6                                                                   ?trans2;
--:-:-:Y:2	PRMT R5, R4, 0x7632, R5                                                                   ?WAIT2_END_GROUP;
--:-:-:-:1	SHF.L.U32 R19, R4, 0x10, RZ                                                               ?trans1;
--:-:-:-:1	IMAD.U32 R27, R7.reuse, 0x10000, RZ                                                       ?trans1;
--:-:-:-:1	PRMT R4, R7, 0x7632, R4                                                                   ?trans1;
--:-:-:-:1	IMAD.U32 R13, R9, 0x10000, RZ                                                             ?trans1;
--:-:-:-:1	PRMT R17, R10.reuse, 0x7632, R17                                                          ?trans1;
02:-:-:-:1	FMUL R2, R15.reuse, R2                                           &req={1}                 ?trans1;
--:-:-:-:1	FMUL R14, R15, R14                                                                        ?trans1;
--:-:-:-:2	SHF.L.U32 R15, R10, 0x10, RZ                                                              ?trans2;
--:-:-:-:2	PRMT R10, R9, 0x7632, R10                                                                 ?trans2;
--:-:-:-:1	SHF.L.U32 R7, R6, 0x10, RZ                                                                ?trans1;
--:-:-:-:1	IMAD.U32 R25, R16, 0x10000, RZ                                                            ?trans1;
--:-:-:-:1	PRMT R12, R8.reuse, 0x7632, R12                                                           ?trans1;
--:-:-:-:1	IMAD.U32 R5, R5, 0x10000, RZ                                                              ?trans1;
--:-:-:-:1	SHF.L.U32 R9, R8, 0x10, RZ                                                                ?trans1;
--:-:-:-:1	FMUL R21, R14, R21                                                                        ?trans1;
--:-:-:Y:2	PRMT R8, R11, 0x7632, R8                                                                  ?WAIT2_END_GROUP;
--:-:-:-:1	SHF.L.U32 R29, R4, 0x10, RZ                                                               ?trans1;
--:-:-:-:1	FMUL R18, R14.reuse, R7                                                                   ?trans1;
--:-:-:-:1	SHF.L.U32 R17, R17, 0x10, RZ                                                              ?trans1;
--:-:-:-:1	FMUL R23, R14.reuse, R23                                                                  ?trans1;
--:-:-:-:1	FMUL R4, R14.reuse, R25                                                                   ?trans1;
--:-:-:-:1	FMUL R6, R14.reuse, R19                                                                   ?trans1;
--:-:-:-:1	FMUL R16, R14.reuse, R5                                                                   ?trans1;
--:-:-:-:1	FMUL R20, R14, R27                                                                        ?trans1;
--:-:-:-:1	SHF.L.U32 R7, R10, 0x10, RZ                                                               ?trans1;
--:-:-:-:1	FFMA R21, R2, R13, R21                                                                    ?trans1;
--:-:-:Y:2	IMAD.U32 R11, R11, 0x10000, RZ                                                            ?WAIT2_END_GROUP;
--:-:-:-:1	FMUL R14, R14, R29                                                                        ?trans1;
--:-:-:-:2	IMAD.U32 R5, R12, 0x10000, RZ                                                             ?trans2;
--:-:-:-:2	IMAD.U32 R13, R8, 0x10000, RZ                                                             ?trans2;
--:-:-:-:1	FFMA R15, R2.reuse, R15, R23                                                              ?trans1;
--:-:-:-:1	FFMA R4, R2.reuse, R17, R4                                                                ?trans1;
--:-:-:-:1	FFMA R6, R2.reuse, R9, R6                                                                 ?trans1;
--:-:-:-:1	FFMA R5, R2.reuse, R5, R16                                                                ?trans1;
--:-:-:-:1	FFMA R7, R2.reuse, R7, R18                                                                ?trans1;
--:-:-:-:1	FFMA R11, R2.reuse, R11, R20                                                              ?trans1;
--:-:-:-:1	FFMA R13, R2, R13, R14                                                                    ?trans1;
--:-:0:-:4	SHFL.BFLY PT, R9, R6, 0x10, 0x1f                                 &wr=0x0                  ?trans4;
--:-:1:-:4	SHFL.BFLY PT, R2, R5, 0x10, 0x1f                                 &wr=0x1                  ?trans4;
--:-:2:-:4	SHFL.BFLY PT, R8, R21, 0x10, 0x1f                                &wr=0x2                  ?trans4;
--:-:3:-:4	SHFL.BFLY PT, R10, R7, 0x10, 0x1f                                &wr=0x3                  ?trans4;
--:-:4:-:4	SHFL.BFLY PT, R12, R15, 0x10, 0x1f                               &wr=0x4                  ?trans4;
--:-:5:-:4	SHFL.BFLY PT, R17, R4, 0x10, 0x1f                                &wr=0x5                  ?trans4;
--:-:5:-:4	SHFL.BFLY PT, R16, R13, 0x10, 0x1f                               &wr=0x5                  ?trans4;
--:-:5:-:1	SHFL.BFLY PT, R14, R11, 0x10, 0x1f                               &wr=0x5                  ?trans1;
--:-:-:Y:2	UMOV UR4, 0x400                                                                           ?WAIT2_END_GROUP;
--:-:-:-:1	ULEA UR10, UR10, UR4, 0x18                                                                ?trans1;
--:-:-:-:2	SHF.R.U32.HI R18, RZ, 0x3, R0                                                             ?trans2;
--:-:-:-:2	LOP3.LUT P0, RZ, R0, 0x10, RZ, 0xc0, !PT                                                  ?trans2;
--:-:-:-:2	LOP3.LUT R18, R18, 0xc, RZ, 0xc0, !PT                                                     ?trans2;
--:-:-:-:1	LEA R3, R3, UR10, 0x7                                                                     ?trans1;
01:-:-:-:1	FADD R9, R6, R9                                                  &req={0}                 ?trans1;
02:-:-:-:1	FADD R19, R5, R2                                                 &req={1}                 ?trans1;
04:-:-:-:1	FADD R21, R21, R8                                                &req={2}                 ?trans1;
08:-:-:-:1	FADD R7, R7, R10                                                 &req={3}                 ?trans1;
--:-:-:-:1	IADD3 R18, PT, PT, R3, R18, RZ                                                            ?trans1;
16:-:-:-:1	FADD R15, R15, R12                                               &req={4}                 ?trans1;
32:-:-:-:1	FADD R17, R4, R17                                                &req={5}                 ?trans1;
--:-:-:-:1	FADD R25, R13, R16                                                                        ?trans1;
--:-:-:-:1	FADD R23, R11, R14                                                                        ?trans1;
--:-:-:-:4	@!P0 STS [R18], R9                                                                             ?trans4;
--:-:-:-:4	@!P0 STS [R18+0x10], R19                                                                       ?trans4;
--:-:-:-:4	@!P0 STS [R18+0x20], R21                                                                       ?trans4;
--:-:-:-:4	@!P0 STS [R18+0x30], R7                                                                        ?trans4;
--:-:-:-:4	@!P0 STS [R18+0x40], R15                                                                       ?trans4;
--:-:-:-:4	@!P0 STS [R18+0x50], R17                                                                       ?trans4;
--:-:-:-:4	@!P0 STS [R18+0x60], R23                                                                       ?trans4;
--:-:-:-:1	@!P0 STS [R18+0x70], R25                                                                       ?trans1;
--:-:-:Y:4	LOP3.LUT R2, R0, 0x7f, RZ, 0xc0, !PT                                                      ?WAIT4_END_GROUP;
--:-:-:-:1	LEA R4, R2, UR10, 0x2                                                                     ?trans1;
--:-:-:-:6	BAR.SYNC.DEFER_BLOCKING 0x0                                                               ?trans6;
--:-:0:-:4	LDS R5, [R4]                                                     &wr=0x0                  ?trans4;
--:-:1:-:4	LDS R8, [R4+0x200]                                               &wr=0x1                  ?trans4;
--:-:2:-:4	LDS R11, [R4+0x400]                                              &wr=0x2                  ?trans4;
--:-:3:-:4	LDS R14, [R4+0x600]                                              &wr=0x3                  ?trans4;
01:-:0:-:4	SHFL.BFLY PT, R6, R5, 0x2, 0x1f                                  &req={0} &wr=0x0         ?trans4;
02:-:1:-:4	SHFL.BFLY PT, R7, R8, 0x2, 0x1f                                  &req={1} &wr=0x1         ?trans4;
04:-:2:-:4	SHFL.BFLY PT, R10, R11, 0x2, 0x1f                                &req={2} &wr=0x2         ?trans4;
08:-:3:-:1	SHFL.BFLY PT, R13, R14, 0x2, 0x1f                                &req={3} &wr=0x3         ?trans1;
01:-:-:-:1	FADD R6, R5, R6                                                  &req={0}                 ?trans1;
02:-:-:-:1	FADD R9, R8, R7                                                  &req={1}                 ?trans1;
04:-:-:-:1	FADD R12, R11, R10                                               &req={2}                 ?trans1;
08:-:-:Y:2	FADD R15, R14, R13                                               &req={3}                 ?WAIT2_END_GROUP;
--:-:0:-:4	SHFL.BFLY PT, R7, R6, 0x1, 0x1f                                  &wr=0x0                  ?trans4;
--:-:1:-:4	SHFL.BFLY PT, R10, R9, 0x1, 0x1f                                 &wr=0x1                  ?trans4;
--:-:2:-:4	SHFL.BFLY PT, R13, R12, 0x1, 0x1f                                &wr=0x2                  ?trans4;
--:-:3:-:1	SHFL.BFLY PT, R16, R15, 0x1, 0x1f                                &wr=0x3                  ?trans1;
--:-:-:-:1	LOP3.LUT P0, RZ, R0, 0x3, RZ, 0xc0, !PT                                                   ?trans1;
01:-:-:-:1	FADD R7, R6, R7                                                  &req={0}                 ?trans1;
02:-:-:-:1	FADD R5, R9, R10                                                 &req={1}                 ?trans1;
04:-:-:-:1	FADD R13, R12, R13                                               &req={2}                 ?trans1;
08:-:-:Y:9	FADD R11, R15, R16                                               &req={3}                 ?WAIT9_END_GROUP;
--:-:-:-:4	@!P0 STS [R4], R7                                                                              ?trans4;
--:0:-:-:4	@!P0 STS [R4+0x200], R5                                               &rd=0x0                  ?trans4;
--:-:-:-:4	@!P0 STS [R4+0x400], R13                                                                       ?trans4;
--:1:-:-:1	@!P0 STS [R4+0x600], R11                                              &rd=0x1                  ?trans1;
--:-:-:-:1	BAR.SYNC.DEFER_BLOCKING 0x0                                                               ?trans1;
01:-:-:Y:5	LOP3.LUT R5, R0, 0x1, RZ, 0xc0, !PT                              &req={0}                 ?WAIT5_END_GROUP;
--:-:-:-:4	LDS R6, [R3]                                                                              ?trans4;
--:-:0:-:4	LDS R9, [R3+0x10]                                                &wr=0x0                  ?trans4;
--:-:-:-:4	LDS R8, [R3+0x20]                                                                         ?trans4;
--:-:2:-:4	LDS R15, [R3+0x30]                                               &wr=0x2                  ?trans4;
--:-:-:-:4	LDS R10, [R3+0x40]                                                                        ?trans4;
--:-:3:-:4	LDS R17, [R3+0x50]                                               &wr=0x3                  ?trans4;
--:-:-:-:4	LDS R7, [R3+0x60]                                                                         ?trans4;
--:4:5:-:1	LDS R12, [R3+0x70]                                               &rd=0x4 &wr=0x5          ?trans1;
--:-:-:Y:2	IADD3 R14, PT, PT, -R5, RZ, RZ                                                            ?WAIT2_END_GROUP;
02:-:-:-:1	SHF.R.U32.HI R4, RZ, 0x1, R0                                     &req={1}                 ?trans1;
--:-:-:-:1	IMAD.SHL.U32 R11, R0, 0x2, RZ                                                             ?trans1;
--:-:-:-:2	LOP3.LUT R14, R14, 0xc0, RZ, 0xc0, !PT                                                    ?trans2;
--:-:-:-:2	SHF.L.U32 R5, R0, 0x3, RZ                                                                 ?trans2;
--:-:-:-:2	LOP3.LUT R4, R4, 0x2, RZ, 0xc0, !PT                                                       ?trans2;
--:-:-:-:2	LOP3.LUT R11, R14, 0x3c, R11, 0xf8, !PT                                                   ?trans2;
--:-:-:Y:2	LOP3.LUT R5, R4, 0x40, R5, 0xf8, !PT                                                      ?WAIT2_END_GROUP;
16:-:-:-:2	SHF.R.U32.HI R3, RZ, 0x4, R0.reuse                               &req={4}                 ?trans2;
--:-:-:-:2	LOP3.LUT R4, R11, 0x40, R0, 0x78, !PT                                                     ?trans2;
--:-:-:-:2	SHF.L.U32 R0, R0, 0x4, RZ                                                                 ?trans2;
--:-:-:-:2	LOP3.LUT R3, R3, 0x2, RZ, 0xc0, !PT                                                       ?trans2;
01:-:-:-:2	F2FP.BF16.F32.PACK_AB R6, R9, R6                                 &req={0}                 ?trans2;
--:-:-:-:1	LOP3.LUT R0, R5, 0x30, R0, 0xf8, !PT                                                      ?trans1;
--:-:-:-:1	BAR.SYNC.DEFER_BLOCKING 0x0                                                               ?trans1;
04:-:-:Y:2	F2FP.BF16.F32.PACK_AB R8, R15, R8                                &req={2}                 ?WAIT2_END_GROUP;
--:-:-:-:2	IADD3 R9, PT, PT, R4, UR10, R3                                                            ?trans2;
08:-:-:-:2	F2FP.BF16.F32.PACK_AB R10, R17, R10                              &req={3}                 ?trans2;
--:-:-:-:2	LOP3.LUT R3, R0, 0x40, RZ, 0x3c, !PT                                                      ?trans2;
--:-:-:-:2	PRMT R5, R6, 0x7632, R5                                                                   ?trans2;
32:-:-:-:1	F2FP.BF16.F32.PACK_AB R7, R12, R7                                &req={5}                 ?trans1;
--:-:-:-:1	ISETP.GE.AND P0, PT, R2.reuse, UR18, PT                                                   ?trans1;
--:-:-:-:1	SHF.L.U32 R4, R2, 0x1, RZ                                                                 ?trans1;
--:0:-:-:4	STS.U16 [R0+UR10], R6                                            &rd=0x0                  ?trans4;
--:-:-:-:4	STS.U16 [R0+UR10+0x4], R8                                                                 ?trans4;
--:-:-:-:4	STS.U16 [R0+UR10+0x8], R10                                                                ?trans4;
--:1:-:-:1	STS.U16 [R0+UR10+0xc], R7                                        &rd=0x1                  ?trans1;
01:-:-:Y:3	PRMT R6, R7, 0x7632, R6                                          &req={0}                 ?WAIT3_END_GROUP;
--:0:-:-:1	STS.U16 [R3+UR10+0x80], R5                                       &rd=0x0                  ?trans1;
02:-:-:-:1	PRMT R0, R8, 0x7632, R0                                          &req={1}                 ?trans1;
01:-:-:-:1	IMAD.HI.U32 R5, R2, 0x2, RZ                                      &req={0}                 ?trans1;
--:-:-:Y:3	PRMT R2, R10, 0x7632, R2                                                                  ?WAIT3_END_GROUP;
--:0:-:-:1	STS.U16 [R3+UR10+0x84], R0                                       &rd=0x0                  ?trans1;
--:-:-:Y:3	UIMAD UR4, UR5, UR12, URZ                                                                 ?WAIT3_END_GROUP;
--:0:-:-:4	STS.U16 [R3+UR10+0x88], R2                                       &rd=0x0                  ?trans4;
--:0:-:-:1	STS.U16 [R3+UR10+0x8c], R6                                       &rd=0x0                  ?trans1;
--:-:-:-:1	UIMAD UR6, UR6, UR13, URZ                                                                 ?trans1;
--:-:-:-:1	UIMAD.WIDE UR12, UR4, 0x2, URZ                                                            ?trans1;
--:-:-:-:2	USHF.L.U32 UR4, UR4, 0x1, URZ                                                             ?trans2;
--:-:-:-:1	UIMAD.WIDE UR16, UR6, 0x2, URZ                                                            ?trans1;
--:-:-:Y:3	USHF.L.U32 UR6, UR6, 0x1, URZ                                                             ?WAIT3_END_GROUP;
--:-:-:-:2	UMOV UR5, UR13                                                                            ?trans2;
--:-:-:-:1	UIADD3.64 UR4, UPT, UPT, UR4, UR8, URZ                                                    ?trans1;
--:-:-:Y:3	UMOV UR7, UR17                                                                            ?WAIT3_END_GROUP;
--:-:-:Y:6	UIADD3.64 UR4, UPT, UPT, UR4, UR6, URZ                                                    ?WAIT6_END_GROUP;
--:-:-:-:2	IADD.64 R4, R4, UR4                                                                       ?trans2;
--:-:-:-:6	BAR.SYNC.DEFER_BLOCKING 0x0                                                               ?trans6;
01:-:-:-:5	@P0 EXIT                                                             &req={0}                 ?trans5;
--:-:0:-:4	LDS.U16 R9, [R9]                                                 &wr=0x0                  ?trans4;
01:-:-:-:1	STG.E.U16 desc[UR14][R4.64], R9                                  &req={0}                 ?trans1;
--:-:-:-:5	EXIT                                                                                      ?trans5;
LBB0:
--:-:-:Y:0	BRA LBB0;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;

